* {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  height: 220vh;
  margin: 0;
  background: linear-gradient(rgb(177, 250, 250), rgb(255, 255, 255), white);
}

.main-header {
  background: rgb(244, 255, 254);
  border-bottom: solid 2px lightblue;
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.my-bookings-header {
  background: rgb(244, 255, 254);
  border-bottom: solid 4px lightblue;
  height: 15vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
}

.booking-header {
  border-bottom: solid 2px black;
  height: 25vh;
  display: flex;
  flex-direction: row;
}

.welcome-header {
  height: 10vh;
  background-color: rgb(244, 255, 254);
  display: flex;
  flex-direction: column;
  align-items: center;

}

.main-section {
  height: 200vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.my-bookings{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-container {
  box-shadow: 3px 3px 3px 3px black;
  height: 50vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.booking-container {
  background: white;
  box-shadow: 3px 3px 3px 3px black;
  border: solid 2px rgb(112, 189, 233);
  height: 100vh;
  width: 80vw;
  overflow-y: scroll;
}

.my-booking-container {
  background: white;
  box-shadow: 3px 3px 3px 3px black;
  border: solid 2px rgb(112, 189, 233);
  height: 100vh;
  width: 80vw;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
}

.my-booking-header{
  background: white;
  border: solid 2px rgb(112, 189, 233);
  height: 25vh;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 3px 3px 3px 3px black;
}

.past-bookings-header {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: solid 3px #5faaef;
}

.future-bookings-header {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: solid 3px #5faaef;
}

.total-spent {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filter-type {
  width: 33%;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.title {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calendar {
  height: 20%;
  width: 40%;
  font-size: large;
  margin-bottom: 20px;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
  cursor: pointer;
}

.calendar:hover {
  transition: 1s ease-in-out;
  background: #c0defb;
}

.calendar-container {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.select-room-type{
  width: 50%;
  height: 20%;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: large;
}

.filter-by-type{
  width: 50%;
  height: 20%;
  border-radius: 10px;
  font-size: large;
  cursor: pointer;
  margin-bottom: 15px;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
}

.filter-by-type:hover {
  transition: 1s ease-in-out;
  background: #c0defb;
}

.filter-by-type:focus {
  transition: 1s ease-in-out;
  background: #c0defb;
}

.book-room {
  margin: 10px;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: large;
  border-radius: 15px;
  border: dotted 3px lightblue;
}

.booking-list {
  margin: 10px;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: large;
  border-radius: 15px;
  border: dotted 3px lightblue;
}

.calendar-search {
  width: 50%;
  height: 20%;
  border-radius: 10px;
  font-size: large;
  cursor: pointer;
  background: transparent;
  border: 1px solid #5faaef;
  outline: none;
  transition: 1s ease-in-out;
  font-size: large;
  margin-bottom: 20px;
}

.calendar-search:hover {
  transition: 1s ease-in-out;
  background: #c0defb;
}

.calendar-search:focus {
  transition: 1s ease-in-out;
  background: #c0defb;
}

.book-now{
  width: 10%;
  height: 20%;
  border-radius: 10px;
  font-size: large;
  cursor: pointer;
  background: transparent;
  border: 1px solid #5faaef;
  outline: none;
  transition: 1s ease-in-out;
  font-size: large;
}

.book-now:hover {
  transition: 1s ease-in-out;
  background: #c0defb;
}

.book-now:focus {
  transition: 1s ease-in-out;
  background: #c0defb;
}

.delete-booking{
  width: 25%;
  height: 20%;
  border-radius: 10px;
  font-size: large;
  cursor: pointer;
  background: transparent;
  border: 1px solid #5faaef;
  outline: none;
  transition: 1s ease-in-out;
  font-size: large;
}

.delete-booking:hover {
  transition: 1s ease-in-out;
  background: #c0defb;
}

.delete-booking:focus {
  transition: 1s ease-in-out;
  background: #c0defb;
}

.my-bookings-button {
  margin-top: 40px;
  border-radius: 20px;
  width: 10%;
  font-size: large;
  cursor: pointer;
  background: transparent;
  border: 1px solid #5faaef;
  outline: none;
  transition: 1s ease-in-out;
  font-size: large;
}

.my-bookings-button:hover {
  transition: 1s ease-in-out;
  background: #c0defb;
}

.my-bookings-button:focus {
  transition: 1s ease-in-out;
  background: #c0defb;
}

.return-home-button {
  margin-top: 40px;
  border-radius: 20px;
  width: 10%;
  font-size: large;
  cursor: pointer;
  background: transparent;
  border: 1px solid #5faaef;
  outline: none;
  transition: 1s ease-in-out;
  font-size: large;
}

.return-home-button:hover {
  transition: 1s ease-in-out;
  background: #c0defb;
}

.return-home-button:focus {
  transition: 1s ease-in-out;
  background: #c0defb;
}

.past-bookings{
  width: 50%;
  border-right: solid 2px #5faaef;
}

.future-bookings{
  width: 50%;
}

.customer-name{
  margin-top: 60px;
}

.my-name{
  margin-top: 60px;
}

#iceland-image {
  height: 80%
}

.hidden {
  display: none;
}